/** Footer **/

footer {
  color: black;
  background-color: #fff;
  width: 100%;
  height: 250px;
  list-style: none;
}

.box-container {
  display: flex;
  width: 94%;
  height: 160px;

  margin-left: 5%;
  padding-top: 3%; /* pr creeer un espace en haut prsk margin top ne marche pas */

  gap: 10px;
}

.box-logo {
  min-width: 400px;
  max-width: 400px;
}

.box-menu {
  width: 200px;
  height: 150px;

  margin-left: 5%;
}

.box-menu ul {
  /* pr enlever les pts devant le txt */
  list-style: none;
  padding: 0;
  margin: 0;
}

.box-menu ul li a {
  text-decoration: none;
  color: black;
  display: flex;

  /* espace de 10px */
  margin-bottom: 10px;
}

.box-contact {
  width: 200px;
  height: 130px;
  color: black;
}

.box-rs {
  width: 300px;
  height: 100px;

  /* placement */
  margin-top: 5%;
  margin-left: 10%;
}

.box-rs img {
  width: 50px;
  height: auto;
  align-items: center;
}
