.main {
  max-width: 1240px;
  width: 1240px;
  margin: auto;
}

body {
  color: floralwhite;
  background-color: #070320;
}
.bouton1 {
  border: 2px solid rgb(224, 112, 8);
  border-radius: 12px;
  padding: 10px;
  background: linear-gradient(-90deg, Orange, red);
  font-size: 14px;
  color: #fff;
}
.bouton2 {
  border: 2px solid (red);
  padding: 10px 60px;
  background: linear-gradient(red);
  max-width: 177px;
  height: 50px;
  color: #fff;
}
.milieu1 {
  text-align: center;
}
.milieu2 {
  justify-content: center;
  display: flex;
  gap: 2rem;
  align-items: end;
}
select {
  display: inline-block;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 4px;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 100px;
  justify-content: center;
  height: auto;
  margin-top: 5%;
}

.groupe-fin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
  margin-left: 10%;
  margin-top: 5%;
}
.cell {
  margin: 0;
}
.groupe-fin .photo-manette img {
  width: 522px;
  height: auto;
  float: right;
}
